// Requirements
// ============

$susy: (
  columns: 12,
  gutters: 1/3,
  math: fluid,
  output: float,
  gutter-position: inside, 
);

//math: fluid, static
//output: float, isolate
//gutter-position: inside, before, after, split

@include border-box-sizing;

$small: 1px 550px;
$medium: 551px 850px;
$large: 769px 960px;
