@mixin back-img($bg-img, $height: 100vh){
	background: linear-gradient(to bottom, 
		rgba(255, 242, 230, .2),
		rgba(255, 242, 230, 0.8)),
		url($bg-img) no-repeat fixed bottom right;
	background-size: 100%; 
	height: $height;

}

@mixin clearfixed(){ //mixin
	&:after{
		display: table;
		content: " ";
		clear: both;
	}
}