@mixin back-img($tennisb-img, $height: 100vh){
	background: linear-gradient(to bottom, 
		rgba(50, 50, 50, .5),
		rgba(50, 50, 50, .9)),
		url($tennisb-img);
	background-repeat: no-repeat; 
	background-position: center center; 
	background-size: cover; 
	height: $height;
}