$font-pawfessional: 'Raleway', sans-serif;
$font-creations: 'Sue Ellen Francisco', cursive;



$orange: rgba(255, 104, 0, 1);
$light-orange: rgba(255, 119, 25, 1);
$dark-teal: rgba(0, 167, 178, 1); 
$light-teal: rgba(0, 238, 255, 1);
$trans-grey: rgba(50, 50, 50, .8);

$tennisb-img: "http://placehold.it/1000x960";