$font-pawfessional: 'Raleway', sans-serif;
$font-creations: 'Sue Ellen Francisco', cursive;



$orange: rgba(242, 101, 24, 1);
$background-color: rgb(255, 242, 230);
$dark-blue: rgba(55, 85, 178, 1); 
$light-teal: rgba(0, 238, 255, 1);
$trans-grey: rgba(50, 50, 50, .8);

$tennisb-img: "../img/tennis-ball.jpg";
$bg-img: "../img/dog-bg.png";

